<!--
    
    This are inside the main templates folder because they have nothing to do with a specific app!
    They are going to be used across multiple apps.

-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>DevSearch</title>

</head>

<body>

    {% include "navbar.html" %}

    {% block content %}

    {% endblock content %}

    <p> FOOTER </p>

</body>

</html>