<!--
    
    This are inside the app templates folder because they have something to do with the specific app!

-->

{% extends "main.html" %}

{% block content %}

<p> Hello! You are on the {{page}} page </p>

{% if number > 10%}

    <p> Number is greater than 10 </p>

{% elif number == 10 %}

    <p> Number is equal to 10 </p> 

{% else %}

<p> Number is less than 10 </p>

{%endif%}

<hr>
<h1>Projects</h1>

<ul>
{% for project in projects %}
    <li>{{project.title}}</li>
{%endfor%}
</ul>




{% endblock content %}