<!--
    
    This are inside the app templates folder because they have something to do with the specific app!

-->

{% extends "main.html" %}

{% block content %}

<!--
    This is a variable b/c its a field in the Project model. This will point to the image file, but to point to
    the image url we need to specify ".url"
-->  
<img style="max-width: 500px;" src="{{projectObject.featured_image.url}}">

<h1>{{projectObject.title}}</h1>
<br>
<hr>
{% for tag in projectObject.tags.all %}

    <span style="border:1px solid grey; margin:10px"> {{tag}} </span>

{%endfor%}

<hr>

<h3>Project description</h3>
<p>{{projectObject.description}}</p>


{% endblock content %}